* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #6c6f70;
    color: white;
    font-family: Helvetica, Arial, sans-serif;
}

/* Main */
#main h1 {
    text-align: center;
    margin: 80px 0 20px;
}

#main .box-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

#main .box-info > div {
    margin: 50px;
    font-size: 22px;
}

#main .box-left {
    width: 30%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main .box-left .box-avt {
    width: 350px;
    height: 350px;
    border-radius: 100%;
    padding: 15px;
    background-color: black;
    position: relative;
}

#main .box-left .box-avt:hover {
    cursor: pointer;
}

#main .box-left .box-avt:hover + .form-update-avt{
    display: block;
}

#main .box-left .box-avt img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

#main .box-left .form-update-avt {
    display: none;
    position: absolute;
    width: 350px;
    height: 350px;
    padding: 15px;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

#main .box-left .form-update-avt form {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#main .box-left .form-update-avt label {
    padding: 8px 10px;
    background-color: black;
    color: white;
    border-radius: 50px;
    font-size: 17px;
}

#main .box-info input {
    margin: 5px 0 20px 0;
    width: 300px;
    height: 35px;
    font-size: 18px;
    background-color: black;
    color: white;
    border: 2px solid white;
    padding: 0 8px;
}

#main .box-info input[type="submit"] {
    width: auto;
    padding: 0 8px;
    background-color: rgb(0, 179, 255);
    color: white;
    border-radius: 10px;
    border: 2px solid white;
    margin-top: 20px;
}

#main .box-info input[type="submit"]:hover {
    background-color: red;
}

/* Detail-cart */
#detail-cart {
    display: none;
}

#detail-cart.open {
    display: block;
}

#detail-cart h1 {
    text-align: center;
    margin: 80px 0 20px;
}

.btn-change-detail {
    display: flex;
    justify-content: center;
    align-items: center;    
    margin-bottom: 80px;
}

.btn-change-detail > div {
    width: 150px;
    height: 50px;
    text-align: center;
    margin-top: 20px;
}

.btn-change-detail > div > .number {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: white;
    color: black;
    border: 2px solid black;
    line-height: 50px;
    margin-left: 50%;
    transform: translateX(-50%);
    font-size: 25px;
    margin-bottom: 10px;
}

.btn-change-detail > div > .number.change {
    background-color: black;
    color: white;
}

/* Box-detail */
.box-detail {
    text-align: center;
}

.box-detail.close {
    display: none;
}

.box-detail > table {
    margin-left: 50%;
    transform: translateX(-50%);
    width: 70%;
    border: none;
    font-size: 18px;
}

.box-detail > table tr:nth-child(1) {
    background-color: black;
    line-height: 50px;
}

.box-detail > table img {
    width: 120px;
}

.box-detail > table .title td:nth-child(2){
    text-align: center;
}

.box-detail > table tr td:nth-child(1) {
    width: 120px;
}

.box-detail > table tr td:nth-child(2) {
    width: 350px;
    text-align: left;
}

.box-detail > table tr td:nth-child(4) {
    width: 150px;
}

.box-detail > table tr td:nth-child(5) {
    width: 200px;
}

.box-detail > table tr td:nth-child(6) a {
    font-size: 30px;
    color: black;
}

.box-detail > table tr td:nth-child(6) a:hover {
    color: red;
}

.box-detail .box-bill {
    width: 300px;
    margin-left: 100%;
    transform: translateX(-180%);
}

.box-detail .box-bill table {
    width: 100%;
    border-collapse: collapse;
    font-size: 20px;
}

.box-detail .box-bill table tr td {
    line-height: 35px;
}

.box-detail .box-bill table tr td:nth-child(1) {
    text-align: left;
}

.box-detail .box-bill table tr td:nth-child(2) {
    text-align: right;
}

.box-detail .box-bill table tr:nth-child(2) td {
    border-bottom: 2px solid white;
} 

.box-detail .box-bill > div {
    margin-top: 30px;
    width: 100%;
    background-color: black;
    padding: 10px 0;
    text-transform: uppercase;
    font-size: 18px;    
    opacity: 0.8;
    border: 2px solid black;
}

.box-detail .box-bill > div:hover {
    opacity: 1;
    border: 2px solid white;
    cursor: pointer;
}

/* Box-pay */ 
.box-pay {
    display: none;
}

.box-pay.open {
    display: flex;
    justify-content: center;
}

.box-pay > div {
    margin: 0 40px;
}

.box-pay > div h2 {
    margin-bottom: 30px;
}

.box-pay .box-info-user table tr td{
    padding: 10px 8px;
    font-size: 18px;
}

.box-pay .box-info-user table tr td:nth-child(1) {
    font-weight: bold;
    width: 200px;
}

.box-pay .box-info-user table tr td span {
    color: red;
}

.box-pay .box-info-user table tr td input {
    width: 300px;
    height: 40px;
    font-size: 18px;
    padding: 0 10px;
    border: 2px solid black;
}

.box-pay .box-info-user > div {
    margin-top: 50px;
    width: 150px;
    text-align: center;
    padding: 10px 0;
    font-size: 18px;
    text-transform: uppercase;
    border: 2px solid black;
}

.box-pay .box-info-user > div:hover {
    background-color: black;
    cursor: pointer;
}

.box-pay .box-info-cart table img {
    width: 70px;
}

.box-pay .box-info-cart table tr td:nth-child(3) {
    width: 50px;
    text-align: center;
}

.box-pay .box-info-cart table tr td:nth-child(4) {
    text-align: center; 
}

.box-pay .box-info-cart .total-bill {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid black;
    padding: 10px;
}

.box-pay .box-info-cart .total-bill > div p {
    margin: 8px 0;
}

.box-pay .box-info-cart .total-bill .price-bill {
    text-align: right;
}

.box-pay .box-info-cart .total-bill .totalbill{
    font-size: 22px;
    color: aqua;
    font-weight: bold;
}

.box-pay .box-info-cart input[type="radio"] {
    width: 18px;
    height: 18px;
    margin-bottom: 15px;
}

.box-pay .box-info-cart input[type="radio"] + label {
    font-size: 18px;
    margin-bottom: 8px;
}

.box-pay .box-info-cart input[type="submit"] {
    margin-top: 30px;
    padding: 10px;
    float: right;
    font-size: 18px;
    text-transform: uppercase;
    background-color: black;
    color: white;
    opacity: 0.8;
}

.box-pay .box-info-cart input[type="submit"]:hover {
    opacity: 1;
    cursor: pointer;
}

/* Box complete */
.box-complete {
    width: 50%;
    margin-left: 50%;
    transform: translateX(-50%);
    font-size: 18px;
    line-height: 1.6;
}

.box-complete p span,
.box-complete p b {
    color: aqua;    
}

/* Footer */
.box-footer {
    margin-top: 50px;
}

/* Mobile */
@media screen and (max-width: 46.1875em) {
    #main .box-info {
        display: block;
    }

    #main .box-info > div {
        width: auto;
        margin: 0 50px;
    }

    #main .box-left .box-avt {
        width: 100%;
        height: 280px;  
    }

    #main .box-info input[type="submit"] {
        margin-top: 0;
    }

    #main .box-left {
        display: block;
        height: 390px;
    }

    #main .box-left .form-update-avt {
        display: block;
        position: relative;
        width: auto;
        height: auto;   
        padding: 0;
        background-color: #6c6f70;
        margin-top: 20px;
    }

    .box-detail > table {
        font-size: 17px;
        width: 100%;
    }

    .box-detail > table tr td {
        font-size: 14px;
    }

    .box-detail > table img {
        width: 80px;
    }

    .box-detail .box-bill {
        margin-left: 100%;
        transform: translateX(-100%);
        width: 250px;
        margin-top: 30px;
    }

    .box-detail .box-bill table {
        font-size: 17px;
    }

    .box-pay.open {
        display: block;
    }

    .box-pay > div {
        margin: 0 10px;
    }

    .box-pay .box-info-user table tr td input {
        width: 200px;
    }

    .box-pay .box-info-user > div {
        margin-top: 20px;
        margin-bottom: 40px;
    }

    .box-pay .box-info-cart input[type="submit"] {
        float: none;
    }

    .box-complete {
        width: 100%;
        padding: 0 10px;
    }
}

/* Tablet */
@media screen and (min-width: 46.25em) and (max-width: 63.9375em) {
    #main .box-left .box-avt {
        width: 300px;   
        height: 260px;  
    }

    #main .box-info input[type="submit"] {
        margin-top: 0;
    }

    #main .box-left {
        display: block;
        height: 330px;
    }

    #main .box-left .form-update-avt {
        display: block;
        position: relative;
        width: auto;
        height: auto;   
        padding: 0;
        background-color: #6c6f70;
        margin-top: 20px;
    }

    #main .box-left .form-update-avt form {
        margin-left: 30px;  
    }

    .box-detail > table {
        font-size: 17px;
        width: 100%;
    }

    .box-detail > table tr td {
        font-size: 14px;
    }

    .box-detail > table img {
        width: 80px;
    }

    .box-detail .box-bill {
        margin-left: 100%;
        transform: translateX(-100%);
        width: 250px;
        margin-top: 30px;
    }

    .box-detail .box-bill table {
        font-size: 17px;
    }

    .box-pay > div {
        margin: 0 10px;
    }

    .box-pay .box-info-user table tr td input {
        width: 200px;
    }

    .box-pay .box-info-user > div {
        margin-top: 20px;
        margin-bottom: 40px;
    }

    .box-pay .box-info-cart input[type="submit"] {
        float: none;
    }

    .box-detail > table tr td:nth-child(2) {
        width: auto;
    }

    .box-complete {
        width: 100%;
        padding: 0 10px;
    }
}