* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    font-size: 17px;
    z-index: 3;
    font-weight: bold;
}   

#menu .menu-left {
    width: 80%;
    height: 60px;
    padding: 0 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}   

.menu-left .input {
    position: relative;
}

.menu-left input[type="text"] {
    width: 490px;
    height: 40px;
    font-size: 20px;
    background-color: rgba(58, 55, 55, 0.436);
    color: white;
    padding: 0 54px 0 8px;
    border-radius: 5px;
    border: 2px solid white;
}

.menu-left .search {
    position: absolute;
    right: 0;
    top: 0;
    height: 40px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border: 2px solid white;
    border-radius: 0 5px 5px 0;
}

.menu-left .search:hover {
    background-color: red;
    cursor: pointer;
}

.menu-left .search i{
    font-size: 20px;
}

.menu-left .menu-sub {
    height: 40px;
    display: flex;
    align-items: center;
}

.menu-left .menu-sub li {
    list-style-type: none;
    display: inline-block;  
    border: 2px solid rgba(0, 0, 0, 0);
    padding: 8px;
    border-radius: 5px;
    height: 60px;
    line-height: 40px;
    text-transform: uppercase;
}

.menu-left .menu-sub li:hover {
    border-radius: 5px;
    border: 2px solid white;
    cursor: pointer;
}

.menu-left .menu-sub a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

.menu-left .menu-sub .sanpham:hover .sub-sanpham{
    display: flex;
    justify-content: center;
}

.menu-left .menu-sub .sub-sanpham {
    position: fixed;
    top: 60px;
    left: 0;
    background-color: rgb(58, 55, 55);
    width: 100%;
    display: none;
}

.menu-left .menu-sub .sub-sanpham li {
    display: inline-block;
    height: 40px;
    line-height: 20px;
}

#menu .menu-right {
    display: flex;
    justify-content: space-between;
    background-color: #3d4242f7;
    height: 60px;
}

#menu .menu-right > div {
    display: flex;
    align-items: center;
    padding: 0 24px;
    border-left: 2px solid white;
    font-size: 20px;
}

#menu .menu-right div:hover{
    color: red;
    cursor: pointer;
    background-color: rgb(37, 36, 36);
}