* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
}

/* Header */
#menu .list-menu ul li:nth-child(5) {
    background-color: #c6defd;
}

#menu .list-menu ul li:nth-child(5) a {
    color: rgb(22 22 72);
}

/* Content */
#content {
    margin-left: 250px;
    margin-top: 50px;
    padding: 10px;
}

#content .row1 {
    font-size: 13px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 0.375rem;
    border-left: 6px solid #FFD43B;
    padding: 10px 30px;
    box-shadow: 0 1px 2px rgb(0 0 0 / 10%);
    line-height: 1.5;
    margin: 0 15px 20px 15px;
}

#content .row2 {
    background: white;
    border-radius: 0.375rem;
    padding: 20px;
    box-shadow: 0 1px 2px rgb(0 0 0 / 10%);
    margin: 0 15px 30px 15px;
}

#content .row2 .btn-element {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

#content .row2 .btn-element .btn {
    padding: 5px;
    font-size: 13px;
    line-height: 1.5;
    padding-left: 10px;
    border-radius: 0.357rem;
    padding-right: 10px;
    font-weight: 500;
    margin-bottom: 5px;
    margin-right: 10px;
}

#content .row2 .btn a {
    text-decoration: none;
    font-size: 14px;
    color: #003c00;
}


#content .row2 .btn-delete-all {
    background: #d0d0d0;
}

#content .row2 .show-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 30px;
}

#content .row2 .show select {
    width: 75px;
    height: 30px;
    border-radius: 4px;
    line-height: 1.5;
    color: black;
    background-color: #f1f1f1;
    padding: 4px;
    border: 1px solid #ddd;
    margin-top: 10px;
}

#content .row2 .choose  select {
    width: auto;
    height: 30px;
    border-radius: 4px;
    line-height: 1.5;
    color: black;
    background-color: #f1f1f1;
    padding: 4px;
    border: 1px solid #ddd;
    margin-top: 10px;
    margin-right: 10px;
}

#content .row2 .search label {
    font-weight: 600;
    background-color: white;
    border: 1px solid #ddd;
    padding: 15px 10px;
    color: black;   
    border-radius: 4px;
    line-height: 1.5;
}

#content .row2 .search input {
    height: 30px;
    width: auto;
    border-radius: 4px;
    padding: 0.25rem 0.5rem;
    color: black;
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    margin-top: 10px;
}

#content .row2 .show-info table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    font-size: 14px;
}

#content .row2 .show-info tr:first-child {
    background-color: #eee;
}

#content .row2 .show-info th,
#content .row2 .show-info td {
    border: 2px solid #ddd;
    padding: 10px;
}

#content .row2 .show-info td {
    text-align: center;
}

#content .row2 .show-info td:nth-child(5) {
    width: 150px;
    word-break: break-all;
}

#content .row2 .show-info td:last-child div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

#content .row2 .show-info td:last-child div > a {
    padding: 10px;
    border-radius: 0.357rem;
    text-decoration: none;
    margin: 5px;
}

#content .row2 .show-info td:last-child div .delete {
    background-color: #f7c3c2;
    color: #de0400;
}

#content .row2 .show-info td:last-child div .more-info {
    color: rgb(245 157 57);
    background-color: rgb(251 226 197);
}

#content .row2 .show-info td:last-child div .status {
    background-color: #a6bfd5;
    color: #105ad2;
}

#content .row2 .show-info td:last-child div .delivery {
    background-color: #92c187;
    color: #ffffff;
}

#content .row2 .change-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#content .row2 .change-page .btn-change {
    display: flex;
    justify-content: center;
    align-items: center;
}

#content .row2 .change-page .btn-change > div {
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    margin: 0 5px;
    border: 1px solid rgb(0, 28, 64);
    background-color: rgb(0, 28, 64);
}

#content .row2 .change-page .btn-change > div a {
    text-decoration: none;
    color: white;
}

/* Model more info bill*/
#model-more-info {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
    display: none;
}

#model-more-info .box-more {
    background-color: #fefefe;
    border: 1px solid #888;
    border-radius: 0.5rem;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); 
    width: 400px;
}

#model-more-info .box-more h5 {
    text-align: left;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 20px;
    color: black;
}

#model-more-info .box-more .row-more {
    margin-top: 20px;
}

#model-more-info .box-more .row-more table {
    border-collapse: collapse;
}

#model-more-info .box-more .row-more tr:first-child {
    background-color: #ddd;
}

#model-more-info .box-more .row-more tr th,
#model-more-info .box-more .row-more tr td {
    padding: 8px;
    border: 2px solid #ccc;
}

#model-more-info .box-more .row-more tr td:first-child {
    width: 79%;
}

#model-more-info .box-more .row-more tr td:last-child {
    text-align: center;
}

#model-more-info .box-more .exit {
    margin-top: 30px;
}
    
#model-more-info .box-more .exit a {
    background-color: rgb(255 197 197);
    color: rgb(190, 40, 40);
    font-weight: 600;
    letter-spacing: 1px;
    border: 2px solid transparent;
    padding: 0.5rem 0.75rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.357rem;
    text-decoration: none;
}