* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
}

/* Header */
#logout {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    background-color: rgb(0, 28, 64);
}

#logout .box-logout {
    width: 50px;
    height: 50px;
    float: right;
    background-color: #ffd43b;
    line-height: 50px;
    text-align: center;
    margin-right: 30px;
}

#logout .box-logout:hover {
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

#logout .box-logout:hover a {
    color: white;
}

#logout .box-logout a {
    font-size: 23px;
    color: rgb(0, 28, 64);
}

#menu {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding-top: 20px;
    width: 250px;
    padding-left: 10px;
    padding-right: 10px;
    overflow: auto;
    z-index: 10;
    background: rgb(0, 28, 64);
}

#menu::-webkit-scrollbar {
    width: 6px;
    background-color: rgb(0, 28, 64);
}

#menu::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
}

#menu .adminname {
    color: white;
    text-align: center;
    padding: 10px;  
}

#menu .adminname img {
    width: 80px;
    height: 80px;
    padding: 5px;
    background-color: white;
    border-radius: 100%;
    margin-bottom: 10px;
}

#menu .adminname p b {
    font-size: 17px;
}

#menu > hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    border-top: 1px solid rgb(255 255 255 / 26%);
}

#menu .list-menu ul {
    padding: 5px;
    list-style-type: none;
}

#menu .list-menu ul li {
    align-items: center;
    border-radius: 0.375rem;
    margin-bottom: 10px;
    padding: 15px 15px;
    font-size: 15px;
    border-left: 0px;
    color: rgb(0, 28, 64);
    font-weight: 600;
    
}

#menu .list-menu ul li:first-child {
    color: rgb(0, 28, 64);
    background: #ffd43b;
    border: 1px solid black;
}

#menu .list-menu ul li:nth-child(n+2):hover{
    background-color: #c6defd;
    cursor: pointer;
    transition-delay: 0.1s;
}

#menu .list-menu ul li:nth-child(n+2):hover a {
    color: rgb(22 22 72);
    transition-delay: 0.1s;
}

#menu .list-menu ul li a {
    text-decoration: none;
    color: white;
}

#menu .list-menu ul li i {
    font-size: 20px;
    width: 40px;
}